body {
  padding-top: 65px;
  padding-bottom: 80px;
}
/*h4{
	color:lightgrey;
	padding-right:30px;
}

.container{
	border: 1px solid lightgrey;
	border-radius: 5px;
	box-shadow: 0 4px 8px 0 lightgrey, 0 6px 20px 0 lightgrey;
	margin-top: 20px;
}

.navbar-brand{
	color: lightgrey!important;
}

.page-header{
	margin-top:0px;
}

.footer{
	margin-top:65px;
}

.icon-green{
	color:green;
}

.icon-yellow{
	color:darkkhaki;
}

.icon-red{
	color:darkred;
}

#elementMap {
   width: 100%;
   height: 330px;
}

.borderlessCellTop{
	border-top: none!important;
}*/
.navbar-default {
  background-color: #69b9ff;
  border-color: #bfe0ff;
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #69b9ff;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #69b9ff;
}
.navbar-default .navbar-nav > li > .dropdown-menu {
  background-color: #69b9ff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
  color: #69b9ff;
  background-color: #bfe0ff;
}
.navbar-default .navbar-nav > li > .dropdown-menu > li.divider {
  background-color: #bfe0ff;
}
.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
  color: #69b9ff;
  background-color: #bfe0ff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #69b9ff;
  background-color: #bfe0ff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #69b9ff;
  background-color: #bfe0ff;
}
.navbar-default .navbar-toggle {
  border-color: #bfe0ff;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #bfe0ff;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #69b9ff;
}
@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #69b9ff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #69b9ff;
    background-color: #bfe0ff;
  }
}

/*# sourceMappingURL=bundle.css.map */
